.navbar{
    padding:20px 0px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    /* box-sizing: border-box; */
}
.navbar .logo{
width:200px;

/* margin:0px;
padding:0px; */



}
.navbar-menu{
    display:flex;
    list-style:none;
    gap:20px;
    /* color:#49557e; */
    color:rgba(135, 62, 7, 0.817);;
    font-size:19px;
}
.navbar-right{
    display:flex;
    align-items:center;
    gap:40px;

}
.navbar button{
    background:transparent;
    font-size:18px;
    color:#49557e;
    border:1px solid #800080;
    
    padding:10px 30px;
    border-radius:50px;
    cursor:pointer;
    transition:0.3s;
}
.navbar button:hover{
    background-color:rgba(135, 62, 7, 0.817);
    /* background-color: #800080; */
    border-color: #49557e;
    color: aliceblue;
}
.navbar .active{
padding-bottom: 2px;
border-bottom: 2px solid #7d3b7d ;
transform: scale(1.05);

}
.navbar .active:hover{
    color:#800080;
}
.navbar li{
    cursor:pointer;
}
.navbar-search-icon{
    position:relative;
    
}
.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height:10px;
    background-color:#800080;
    border-radius:5px;
    top:-8px ;
    right:-8px;

}

@media(
    max-width:1050px
)
{
.navbar .logo{
    width:140px;
}
.navbar_menu{
    gap:20px;
    font-size:17px;
}
.navbar-right{
    gap:30px
}
.navbar-right img{
    width:22px;
}
.navbar-right button{
    padding:8px 25px;

     
}
}

@media(
    max-width:900px
)
{
.navbar .logo{
    width:120px;
}
.navbar_menu{
    gap:15px;
    font-size:16px;
}
.navbar-right{
    gap:20px
}
.navbar-right img{
    width:20px;
}
.navbar-right button{
    padding:7px 20px;
    
     font-size:15px;
}
}

@media(
    max-width:750px

)
{
.navbar_menu{
    display:none;
}
}